.visual-debugger {

  .checkbox-toggle-wrapper {
    align-items: var(--#{$prefix}checkbox-toggle-wrapper--align-items);
    column-gap: var(--#{$prefix}checkbox-toggle-wrapper--column-gap);
    cursor: var(--#{$prefix}checkbox-toggle-wrapper--cursor);
    display: flex;
    flex-direction: var(--#{$prefix}checkbox-toggle-wrapper--flex-direction);
    flex-grow: 1;
    overflow-x: var(--#{$prefix}checkbox-toggle-wrapper--overflow-x);
    position: relative;
  }

  // Checkbox toggle.
  .checkbox-toggle {
    cursor: pointer;
    flex: var(--#{$prefix}checkbox-toggle--flex);
    height: var(--#{$prefix}checkbox-toggle--height);
    opacity: var(--#{$prefix}checkbox-toggle--opacity);
    position: var(--#{$prefix}checkbox-toggle--position);
    width: var(--#{$prefix}checkbox-toggle--width);

    + .item-activated,
    ~ .item-deactivated {
      display: none;
      pointer-events: none;
    }

    &:checked + .item-activated,
    &:not(:checked) ~ .item-deactivated {
      display: inline-block;
    }

    &:not(:checked) + .item-activated,
    &:checked + .item-deactivated {
      display: none;
    }
  }
}
