// Convert px to rem.
@function to-rem($size-px) {
  @return calc($size-px / $font-size-base) * 1rem;
}

// Convert hex to rgb.
@function hex-to-rgb($hex) {
  $red: red($hex);
  $green: green($hex);
  $blue: blue($hex);

  @return $red, $green, $blue;
}
