.visual-debugger {
  // Icon font.
  [class^="icon-"],
  [class*=" icon-"] {
    font-size: var(--#{$prefix}icon--font-size);
  }

  // Prepares an icon layer to be displayed within content.
  .icon-within-content {
    line-height: var(--#{$prefix}line-height-wide);
  }

  .icon-square {
    font-size: var(--#{$prefix}icon--font-size--x-small);
    line-height: var(--#{$prefix}line-height-wide);
  }

  .icon-eye,
  .icon-eye-blocked {
    font-size: var(--#{$prefix}icon--font-size--mid-large);
  }

  .icon-selected-true,
  .icon-selected-false,
  .icon-slide-resize {
    font-size: var(--#{$prefix}icon--font-size--large);
  }

  .icon-selected-true {
    color: var(--#{$prefix}icon--color--selected-true);
  }
  
  .icon-selected-false {
    color: var(--#{$prefix}icon--color--selected-false);
  }

  // Toggle on/off icons.
  .icon-toggle-on,
  .icon-toggle-off {
    background-color: var(--#{$prefix}color--white);
    border-radius: 50px;
    font-size: var(--#{$prefix}icon--font-size--mid-large);
  }

  // Toggle on/off icons.
  .icon-checkbox-checked,
  .icon-checkbox-unchecked {
    background-color: var(--#{$prefix}color--white);
    border-radius: to-rem(3px);
    font-size: var(--#{$prefix}icon--font-size--mid-large);
  }
}
