.visual-debugger {
  .tag {
    background-color: rgb(var(--#{$prefix}color--object-type)...);
    color: var(--#{$prefix}tag--color);
    display: var(--#{$prefix}tag--display);
    font-size: var(--#{$prefix}tag--font-size);
    line-height: var(--#{$prefix}tag--line-height);
    padding: var(--#{$prefix}tag--padding);

    // Object type.
    &--object-type {
      @each $type, $color in $object-type-colors {
        &--#{$type} {
          --#{$prefix}color--object-type: #{$color};
        }
      }
    }

    // When the tag is empty.
    &--empty {
      background-color: var(--#{$prefix}tag--empty--background-color);
      color: var(--#{$prefix}tag--empty--color);
      font-style: var(--#{$prefix}tag--empty--font-style);
    }
  }

  .object-type {

    // Instance element unchecked.
    &.instance-element {
      background-color: rgba(var(--#{$prefix}color--object-type), var(--#{$prefix}object-type--transparency));

      &:hover {
        background-color: rgba(var(--#{$prefix}color--object-type), var(--#{$prefix}object-type--transparency--hover));
      }
    }

    // Instance element is checked.
    &.instance-element--checked {
      background-color: rgba(var(--#{$prefix}color--object-type), var(--#{$prefix}object-type--transparency--selected));
      
      &:hover {
        background-color: rgba(var(--#{$prefix}color--object-type), var(--#{$prefix}object-type--transparency--selected));
      }
    }

    // Filters item activation.
    &.filters-item__activation > .icon-square {
      color: rgba(var(--#{$prefix}color--object-type), 1);
    }

    @each $type, $color in $object-type-colors {
      &--#{$type} {
        --#{$prefix}color--object-type: #{$color};
      }
    }
  }
}
