@import "base/functions";
@import "base/variables";
@import "base/types";
@import "base/icons";
@import "base/form";
@import "../../fonts/visual-debugger-icons/style.scss";

%instance-selected {
  opacity: 1;
}

.visual-debugger {

  // Controller.
  &--controller {
    background-color: var(--#{$prefix}controller--background-color);
    border-radius: var(--#{$prefix}controller--border-radius);
    bottom: var(--#{$prefix}controller--bottom);
    box-shadow: var(--#{$prefix}controller--box-shadow);
    display: flex;
    flex-direction: var(--#{$prefix}controller--flex-direction);
    font-family: var(--#{$prefix}controller--font-family);
    font-size: var(--#{$prefix}controller--font-size);
    font-weight: var(--#{$prefix}controller--font-weight);
    line-height: var(--#{$prefix}text--line-height);
    max-width: var(--#{$prefix}controller--max-width);
    min-width: var(--#{$prefix}controller--min-width);
    padding: var(--#{$prefix}controller--padding);
    position: var(--#{$prefix}controller--position);
    right: var(--#{$prefix}controller--right);
    top: var(--#{$prefix}controller--top);
    transition:
      right var(--#{$prefix}transition-speed),
      transform var(--#{$prefix}transition-speed);
    z-index: var(--#{$prefix}controller--z-index);

    h1, h2, h3, h4, h5, h6, p, li, button, dt, dd, label, input {
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
    }

    h1, h2, h3, h4 {
      margin-bottom: var(--#{$prefix}h--margin-bottom);
      margin-top: var(--#{$prefix}h--margin-top);
    }

    h3 {
      font-size: var(--#{$prefix}controller--font-size--title);
    }

    h3,
    h4 {
      font-weight: var(--#{$prefix}controller--font-weight--title);
    }

    label {
      cursor: pointer;
    }

    input {
      background-color: var(--#{$prefix}controller--input--background-color);
      border: var(--#{$prefix}controller--input--border);
      border-radius: var(--#{$prefix}controller--input--border-radius);
      flex: 1;
      font-family: var(--#{$prefix}controller--input--font-family);
      margin: var(--#{$prefix}controller--input--margin);
      overflow: var(--#{$prefix}controller--input--overflow);
      padding: var(--#{$prefix}controller--input--padding);
      transition: background-color var(--#{$prefix}transition-speed);

      &:hover {
        background-color: var(--#{$prefix}controller--input--background-color--hover);
        box-shadow: var(--#{$prefix}shadow--full);
      }
    }

    // When the controller is deactivated...
    body.visual-debugger--deactivated & {
      &:hover {
        transform: var(--#{$prefix}controller--transform--on-deactivated);
      }
    }

    // The controller activation form.
    .activation-form {
      background-color: var(--#{$prefix}controller--activation-form--background-color);
      border-radius: var(--#{$prefix}controller--activation-form--border-radius);
      margin-left: var(--#{$prefix}controller--activation-form--margin-left);
      margin-top: var(--#{$prefix}controller--activation-form--margin-top);
      padding: var(--#{$prefix}controller--activation-form--padding);
      transition:
        background-color var(--#{$prefix}transition-speed),
        transform var(--#{$prefix}transition-speed);

      // When controller is deactivated.
      body.visual-debugger--deactivated & {
        background-color: var(--#{$prefix}controller--activation-form--background-color--on-deactivated);
        transform: var(--#{$prefix}controller--activation-form--transform--on-deactivated);
      }

      &-wrapper {
        align-items: var(--#{$prefix}controller--activation-form-wrapper--align-items);
        column-gap: var(--#{$prefix}controller--activation-form-wrapper--column-gap);
        display: flex;
        flex-direction: var(--#{$prefix}controller--activation-form-wrapper--flex-direction);
        justify-content: var(--#{$prefix}controller--activation-form-wrapper--justify-content);
      }
    }

    .content-auto-scroll {
      background-color: var(--#{$prefix}controller--content-auto-scroll--background-color);
      display: flex;
      flex-direction: var(--#{$prefix}controller--content-auto-scroll--flex-direction);
      height: var(--#{$prefix}controller--content-auto-scroll--height);
      margin: var(--#{$prefix}controller--content-auto-scroll--margin);
      overflow-y: var(--#{$prefix}controller--content-auto-scroll--overflow-y);
      padding: var(--#{$prefix}controller--content-auto-scroll--padding);
    }

    // When the filters are deactivated...
    &[data-vd-controller-filters-enabled='false'] {
      .filters-item {
        opacity: .5;
        pointer-events: none;
      }
    }

    // Tabbed navigation
    .tabbed-navigation {
      --#{$prefix}color--object-type: var(--#{$prefix}color--white--rgb);
      background-color: var(--#{$prefix}tabbed-navigation--background-color);
      padding: var(--#{$prefix}tabbed-navigation--padding);
      margin-bottom: var(--#{$prefix}tabbed-navigation--margin-bottom);
      position: sticky;
      top: 0;
      z-index: var(--#{$prefix}tabbed-navigation--z-index);

      // Groups all tags within.
      &__tabs {
        background-color: var(--#{$prefix}tabbed-navigation--tabs--background-color);
        padding: var(--#{$prefix}tabbed-navigation--tabs--padding);
        display: flex;
        flex-direction: row;
      }

      // Individual tab.
      &__tab {
        align-items: var(--#{$prefix}tabbed-navigation--tab--align-items);
        background-color: var(--#{$prefix}tabbed-navigation--tab--background-color);
        border-bottom: var(--#{$prefix}tabbed-navigation--tab--border-bottom);
        border-left: var(--#{$prefix}tabbed-navigation--tab--border-left);
        border-top: var(--#{$prefix}tabbed-navigation--tab--border-top);
        border-right: var(--#{$prefix}tabbed-navigation--tab--border-right);
        border-radius: var(--#{$prefix}tabbed-navigation--tab--border-radius);
        color: var(--#{$prefix}tabbed-navigation--tab--color);
        column-gap: var(--#{$prefix}tabbed-navigation--tab--column-gap);
        cursor: var(--#{$prefix}tabbed-navigation--tab--cursor);
        display: flex;
        font-size: var(--#{$prefix}tabbed-navigation--tab--font-size);
        font-weight: var(--#{$prefix}tabbed-navigation--tab--font-weight);
        margin-right: var(--#{$prefix}tabbed-navigation--tab--margin-right);
        padding: var(--#{$prefix}tabbed-navigation--tab--padding);
        position: relative;
        transition: background-color var(--#{$prefix}transition-speed), transform var(--#{$prefix}transition-speed);
        
        &:hover {
          background-color: var(--#{$prefix}tabbed-navigation--tab--background-color--hover);
        }
        
        &.active {
          background-color: var(--#{$prefix}tabbed-navigation--tab--background-color--active);
          color: var(--#{$prefix}tabbed-navigation--tab--color--active);
          font-weight: var(--#{$prefix}tabbed-navigation--tab--font-weight--active);
          position: relative;
          transform: var(--#{$prefix}tabbed-navigation--tab--transform--active);
          z-index: var(--#{$prefix}tabbed-navigation--tab--z-index--active);
        }

        &:not(.active) {
          transform: var(--#{$prefix}tabbed-navigation--tab--transform--not-active);
        }

        &--selected {
          &::before {
            background-color: rgba(var(--#{$prefix}color--object-type), 1);
            border-radius: var(--#{$prefix}tabbed-navigation--tab--selected--border-radius);
            content: '';
            width: var(--#{$prefix}tabbed-navigation--tab--selected--size);
            height: var(--#{$prefix}tabbed-navigation--tab--selected--size);
          }
        }
      }

      &__separator {
        // background: linear-gradient(to bottom, #ddd, rgba(255, 216, 201, 0.4));
        background: var(--#{$prefix}tabbed-navigation--separator--background);
        border-top: solid 1px $color--gray-40;
        height: var(--#{$prefix}tabbed-navigation--separator--height);
        position: relative;
        z-index: 3;
      }
    }

    // Target for tabbed navigation.
    border-top: var(--#{$prefix}nav-target--border-top);
    .nav-target {
      display: none;
      flex: 1;
      position: relative;
      z-index: var(--#{$prefix}nav-target--z-index);

      &.active {
        display: block;
      }
    }

    // Active element.
    .active-element {
      margin: var(--#{$prefix}active-element--margin);
      padding: var(--#{$prefix}active-element--padding);

      // Info.
      &__info {
        column-gap: var(--#{$prefix}active-element--info--column-gap);
        display: flex;
        flex-direction: var(--#{$prefix}active-element--info--flex-direction);
      }
    }

    // Selected element.
    .selected-element {
      background-color: var(--#{$prefix}selected-element--background-color);
      padding: var(--#{$prefix}selected-element--padding);

      // Content
      &__content {
        display: flex;
        flex-direction: var(--#{$prefix}selected-element--content--flex-direction);
        gap: var(--#{$prefix}selected-element--content--gap);
      }

      .content-item {

        // Info.
        &__info {
          column-gap: var(--#{$prefix}selected-element--info--column-gap);
          display: flex;
          flex-direction: var(--#{$prefix}selected-element--info--flex-direction);
        }
      }
    }

    // List group.
    .list {
      background-color: var(--#{$prefix}list-element--background-color);
      padding: var(--#{$prefix}list-element--padding);

      &__content {
        display: flex;
        flex-direction: var(--#{$prefix}list-element--content--flex-direction);
        gap: var(--#{$prefix}list-element--content--gap);
      }

      &-item {
        align-items: center;
        display: flex;
        flex-direction: var(--#{$prefix}list-element--list-item--flex-direction);
        gap: var(--#{$prefix}list-element--list-item--gap);
        justify-content: flex-start;
        line-height: var(--#{$prefix}list-element--list-item--line-height);

        &__activation {
          font-weight: var(--#{$prefix}list-element--list-item--activation--font-weight);
          line-height: inherit;

          &[data-vd-visible='false'] {
            opacity: var(--#{$prefix}list-element--list-item--activation--disabled--opacity);
            text-decoration: var(--#{$prefix}list-element--list-item--activation--disabled--text-decoration);
          }

          label {
            flex-grow: 1;
            line-height: var(--#{$prefix}list-element--list-item--activation--line-height);
            padding: var(--#{$prefix}list-element--list-item--activation--padding);
            position: relative;
            transition: background-color var(--#{$prefix}transition-speed);
          }

          &[data-vd-list-item-activated='true'] {
            label {
              background-color: rgba(var(--#{$prefix}color--object-type), var(--#{$prefix}object-type--transparency--hover));
            }
          }

          &--hover,
          &:hover {
            label {
              background-color: rgba(var(--#{$prefix}color--object-type), var(--#{$prefix}object-type--transparency--hover));
            }
          }
        }

        &__visibility {
          margin-left: var(--#{$prefix}list-element--list-item--visibility--margin-left);
          flex: 0 0 28px;
        }
      }
    }

    // Filters group.
    .filters {
      background-color: var(--#{$prefix}filters-element--background-color);
      padding: var(--#{$prefix}filters-element--padding);

      &__content {
        display: flex;
        flex-direction: var(--#{$prefix}filters-element--content--flex-direction);
        gap: var(--#{$prefix}filters-element--content--gap);
      }

      &-item {
        align-items: var(--#{$prefix}filters-element--filter-item--align-items);
        display: flex;
        flex-direction: var(--#{$prefix}filters-element--filter-item--flex-direction);
        gap: var(--#{$prefix}filters-element--filter-item--gap);
        justify-content: var(--#{$prefix}filters-element--filter-item--justify-content);

        &__activation {
          align-items: var(--#{$prefix}filters-element--filter-item--activation--align-items);
          font-weight: var(--#{$prefix}filters-element--filter-item--activation--font-weight);
          justify-content: var(--#{$prefix}filters-element--filter-item--activation--justify-content);

          &[data-vd-visible='false'] {
            opacity: var(--#{$prefix}list-element--list-item--activation--disabled--opacity);
            text-decoration: var(--#{$prefix}list-element--list-item--activation--disabled--text-decoration);
          }

          label {
            flex-grow: 1;
            line-height: var(--#{$prefix}filters-element--filter-item--activation--line-height);
            padding: var(--#{$prefix}list-element--list-item--activation--padding);
            position: relative;
            transition: background-color var(--#{$prefix}transition-speed);
          }

          &--hover,
          &:hover {
            &[data-vd-visible='true'] {
              label {
                background-color: rgba(var(--#{$prefix}color--object-type), var(--#{$prefix}object-type--transparency--hover));
              }
            }
          }
        }
      }
    }
  }

  // Base layer.
  &--base {
    left: var(--#{$prefix}base--left);
    position: var(--#{$prefix}base--position);
    top: var(--#{$prefix}base--top);
    z-index: var(--#{$prefix}base--z-index);

    body.visual-debugger--deactivated & {
      display: var(--#{$prefix}base--display--on-deactivated);
      pointer-events: var(--#{$prefix}base--pointer-events--on-deactivated);
    }
  }

  // Instance layer.
  .instance-element {
    background-blend-mode: var(--#{$prefix}instance--background-blend-mode);
    border: var(--#{$prefix}instance--border);
    position: var(--#{$prefix}instance--position);
    transition:
      background-color var(--#{$prefix}transition-speed),
      margin var(--#{$prefix}transition-speed),
      opacity var(--#{$prefix}transition-speed),
      width var(--#{$prefix}transition-speed),
      height var(--#{$prefix}transition-speed),
      top var(--#{$prefix}transition-speed),
      left var(--#{$prefix}transition-speed);

    input.checkbox-toggle {
      pointer-events: none;
      opacity: 0;
    }

    &--hover,
    &:hover {
      box-shadow: var(--#{$prefix}shadow--full);

      .span-toggle {
        @extend %instance-selected;
      }
    }

    &[data-vd-visible='false'] {
      opacity: 0;
      pointer-events: none;
    }

    .span-toggle {
      margin: calc(var(--#{$prefix}controller--gutter) * .25) calc(var(--#{$prefix}controller--gutter) * .125);
      transition: opacity var(--#{$prefix}transition-speed);
    }

    &--checked {
      input[type='checkbox'] {
        @extend %instance-selected;
      }
    }

    &--unchecked {
      .span-toggle {
        opacity: 0;
      }
    }
  }

  // Click-drag button.
  .click-drag-button {
    background-color: var(--#{$prefix}click-drag-button--background-color);
    border: var(--#{$prefix}click-drag-button--border);
    border-radius: var(--#{$prefix}click-drag-button--border-radius);
    cursor: var(--#{$prefix}click-drag-button--cursor);
    height: var(--#{$prefix}click-drag-button--size);
    left: calc(#{var(--#{$prefix}click-drag-button--size)} * -0.5);
    opacity: var(--#{$prefix}click-drag-button--opacity);
    position: absolute;
    top: var(--#{$prefix}click-drag-button--top);
    transform-origin: var(--#{$prefix}click-drag-button--transform-origin);
    transform: var(--#{$prefix}click-drag-button--transform);
    transition:
      background-color var(--#{$prefix}transition-speed),
      transform var(--#{$prefix}transition-speed);
    width: var(--#{$prefix}click-drag-button--size);
    z-index: var(--#{$prefix}click-drag-button--z-index);

    body.visual-debugger--activated & {
      background-color: var(--#{$prefix}click-drag-button--background-color--on-activated);
      cursor: var(--#{$prefix}click-drag-button--cursor--on-activated);
      opacity: var(--#{$prefix}click-drag-button--opacity--on-activated);

      &:hover {
        transform: var(--#{$prefix}click-drag-button--transform--on-activated--hover);
      }

      &:active {
        background-color: var(--#{$prefix}click-drag-button--background-color--on-activated--active);
        cursor: var(--#{$prefix}click-drag-button--cursor--on-activated--active);
      }
    }
  }

  // The content copy component.
  .content-copy-data {
    align-items: var(--#{$prefix}content-copy-data--align-items);
    column-gap: var(--#{$prefix}content-copy-data--column-gap);
    display: flex;
    flex-direction: var(--#{$prefix}content-copy-data--flex-direction);
    margin: var(--#{$prefix}content-copy-data--margin);

    &__label {
      background-color: var(--#{$prefix}color--light-gray);
      padding: 0 calc(var(--#{$prefix}controller--gutter) * .25);
      white-space: nowrap;
    }

    button {
      background-color: var(--#{$prefix}content-copy-data--button--background-color);
      border: var(--#{$prefix}content-copy-data--button--border);
      cursor: pointer;
      transition: transform var(--#{$prefix}transition-speed);

      &:hover {
        transform: var(--#{$prefix}content-copy-data--button--transform--hover);
      }
    }
  }
}
