@font-face {
  font-family: 'visual-debugger-icons';
  src:
    url('fonts/visual-debugger-icons.ttf?s0o66e') format('truetype'),
    url('fonts/visual-debugger-icons.woff?s0o66e') format('woff'),
    url('fonts/visual-debugger-icons.svg?s0o66e#visual-debugger-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'visual-debugger-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-square:before {
  content: "\e906";
}
.icon-toggle-on:before {
  content: "\e903";
}
.icon-toggle-off:before {
  content: "\e905";
}
.icon-slide-resize:before {
  content: "\e904";
}
.icon-selected-false:before {
  content: "\e901";
}
.icon-selected-true:before {
  content: "\e902";
}
.icon-navigate-next:before {
  content: "\e908";
}
.icon-copy:before {
  content: "\e900";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
