@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?s0o66e') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?s0o66e') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?s0o66e##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-square {
  &:before {
    content: $icon-square; 
  }
}
.icon-toggle-on {
  &:before {
    content: $icon-toggle-on; 
  }
}
.icon-toggle-off {
  &:before {
    content: $icon-toggle-off; 
  }
}
.icon-slide-resize {
  &:before {
    content: $icon-slide-resize; 
  }
}
.icon-selected-false {
  &:before {
    content: $icon-selected-false; 
  }
}
.icon-selected-true {
  &:before {
    content: $icon-selected-true; 
  }
}
.icon-navigate-next {
  &:before {
    content: $icon-navigate-next; 
  }
}
.icon-copy {
  &:before {
    content: $icon-copy; 
  }
}
.icon-eye {
  &:before {
    content: $icon-eye; 
  }
}
.icon-eye-blocked {
  &:before {
    content: $icon-eye-blocked; 
  }
}
.icon-checkbox-checked {
  &:before {
    content: $icon-checkbox-checked; 
  }
}
.icon-checkbox-unchecked {
  &:before {
    content: $icon-checkbox-unchecked; 
  }
}

